<div class="text-center">
    <h1 class="m-5">صفحه مورد نظر یافت نشد</h1>
    <a href="/" class="btn btn-outline-danger"> 
        برگشت به صفحه اصلی
        <span>
            <i class="fab fa-backward"></i>
        </span>
    </a>
</div>