<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4 login_title">
                            <h3> ورود</h3>
                        </div>
                        <%- include("./include/loginMessages.ejs")  %> 
                        <form action="/users/login" method="POST">
                            <div class="form-group first rounded">
                                <label for="username">نام کاربری</label>
                                <input type="email" class="form-control" id="username" name="email" required autofocus>

                            </div>
                            <div class="form-group last my-4 rounded">
                                <label for="password">رمز ورود</label>
                                <input type="password" class="form-control" id="password" name="password" required >
                            </div>

                            <div class="d-flex mb-5 align-items-center justify-content-between">
                                <label class="control control--checkbox mb-0"><span class="caption">مرا به خاطر
                                        بسپار</span>
                                    <input type="checkbox" checked="checked" />
                                    <div class="control__indicator"></div>
                                </label>
                                <span class="d-inline-block"><a href="#" class="forgot-pass">فراموشی رمز</a></span>
                            </div>

                            <input type="submit" value="ورود به سایت" class="btn btn-block btn-primary">
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="/js/Login-Signin.js"></script>