<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4 login_title">
                            <h3> ورود / ثبت نام</h3>
                        </div>
                        <form action="#" method="post">
                            <div class="form-group first rounded">
                                <label for="username">نام کاربری</label>
                                <input type="text" class="form-control" id="username">

                            </div>
                            <div class="form-group last my-4 rounded">
                                <label for="password">رمز ورود</label>
                                <input type="password" class="form-control" id="password">
                            </div>

                            <div class="d-flex mb-5 align-items-center justify-content-between">
                                <label class="control control--checkbox mb-0"><span class="caption">مرا به خاطر
                                        بسپار</span>
                                    <input type="checkbox" checked="checked" />
                                    <div class="control__indicator"></div>
                                </label>
                                <span class="d-inline-block"><a href="#" class="forgot-pass">فراموشی رمز</a></span>
                            </div>

                            <input type="submit" value="ورود به سایت" class="btn btn-block btn-primary">

                            <span class="d-block text-right my-4 text-muted">&mdash; یا ورود با استفاده از
                                &mdash;</span>

                            <div class="social-login">
                                <a href="#" class="facebook">
                                    <span> <i class="fa fa-facebook "></i></span>
                                </a>
                                <a href="#" class="twitter">
                                    <span class="fa fa-twitter "></span>
                                </a>
                                <a href="#" class="google">
                                    <span class="fa fa-google "></span>
                                </a>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>}